alembic==0.9.7
boto3==1.5.22
botocore==1.8.36
click==6.7
docutils==0.14
Flask==0.12.2
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Mako==1.0.7
MarkupSafe==1.0
python-dateutil==2.6.1
python-editor==1.0.3
s3transfer==0.1.12
six==1.11.0
SQLAlchemy==1.2.2
Werkzeug==0.14.1
Flask-Admin==1.5.0
Flask-Security==3.0.0
Flask-WTF==0.14.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
