<!DOCTYPE html>
<meta charset="utf-8">
<style>
  * {
    font-family: Verdana, Arial, sans-serif;
  }
  a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
</style>
<h1 class="center" id="headline">
<div id="">
  <input id="final_span" type="text" name="">
  <button id="start_button" onclick="startButton(this)">
    <img id="start_img" src="{{url_for('static',filename='mic.gif')}}" alt="Start"></button>
</div>
<script type="text/javascript" src="{{url_for('static',filename='main.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='recorder.js')}}"></script>