{% extends 'admin/master.html' %}
{% block body %}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Login</h1>
        <div class="well">
            <form action="{{ url_for('login') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="email" class="email">
                <input type="password" name="password" class="password">
                {{error.error}}
                <button type="submit">login</button>
            </form>
            <p>Not yet signed up? Please <a href="{{ url_for('security.register') }}">register for an account</a>.</p>
        </div>
    </div>
</div>
{% endblock body %}